body{
  margin: 0px;
  font-size: 0.5vw;
}


.totalbox{
  display:flex;
  flex-flow:row wrap;
  font-weight:bold;
  text-align:center;
}


.header{/*标题栏*/
  background:#ffffff;
  border-bottom: 0.05vw solid #EEEEE0;
  /*作子元素时的样式*/
  flex:1 1 100% ;
  height: 12vw;
  /*作父元素时的样式*/
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items:stretch；
}

.headtitle01{/*标题栏第一格：简书俩个字*/
  color: #FF4040;
  order: 1;
  flex:1 1 25vw;
  padding-top: 1vw;
  padding-right: 50vw;
  font-size: 1.5rem;

}
.headtitle02{/*标题栏第二格，首页与下载按键*/
  /*作子元素的样式*/
  order: 2;
  flex:1 1 35vw;
  /*作父元素的样式*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items:stretch;
  display: none;

}
.indexbutton{
  /*作子元素的样式*/
  flex:0 0 1.2vw;
  color: #FF4040;
  font-size: 1.9vw;
  font-weight: 350;
  padding-top: 2vw;
  margin-right: 4vw;
  text-align: start;
  overflow: hidden;

}
.downloadbutton{
  /*作子元素的样式*/
  flex:0 0 1.2vw;
  color: black;
  font-size: 1.9vw;
  font-weight: 350;
  margin-right: 3vw;
  padding-top: 2vw;
  text-align: start;
  overflow: hidden;
}
.searchbutton{
  /*作子元素的样式*/
  flex:1 1 6vw;
  text-align: start;

}
.leftsemi{
  height: 4vw;
  width: 2vw;
  margin: 0.8vw 0 0px 0px;
  border-top-left-radius: 2vw;
  border-top-right-radius: 0px;
  border-bottom-right-radius:0;
  border-bottom-left-radius: 2vw;
  background-color: #EEEEE0; 
  float: left;
}
.inputcontrol{
  margin: 0.8vw 0 0px 0px;
  width: 15vw;
  height: 4vw;
  background-color: #EEEEE0;
  border: 0px;
  outline: none;
  font-size: 1.5vw;
  padding-left: 0px;
  color: #8B8386;
  float: left;
}
.rightsemi{
  box-sizing:border-box;
  height: 4vw;
  width: 2vw;
  margin: 0.8vw 0 0px 0px;
  padding: 1vw 0px 0px 0px;;
  border-top-left-radius: 0px;
  border-top-right-radius: 2vw;
  border-bottom-right-radius:2vw;
  border-bottom-left-radius: 0px;
  background-color: #EEEEE0; 
  float: left;
  font-size: 1.8vw;
  color: #8B8386;
}
.rightsemi i:hover{
cursor: pointer;
}
.headtitle03{/*标题栏第三格，模式登录注册写文章*/
  /*作子元素的样式*/
  order: 3;
  flex:1 1 40vw;
  /*作父元素的样式*/
  display: flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  display: none;
}
.blankbox01{
  flex: 1 1 26vw;
  background-color: white;
}
  

.typebutton{
  flex: 0 0 8vw;
  font-size:2vw;
  font-weight: 400;
  color: gray;
  padding-top: 1.2vw;
}
.signinbutton{
  flex: 0 0 7vw;
  font-size: 1.6vw;
  font-weight: 400;
  padding:0.5vw 0 0.5vw 0;
  margin: 1vw 0 1vw 0;
  color: gray;

}
.registbutton{
  flex:0 0 7vw;
  font-size: 1.6vw;
  font-weight: 400;
  padding: 0.5vw 0 0.5vw 0;
  margin: 1vw 0 1vw 0;
  color: #FF4040;
  border: 0.08vw solid #FF4040;
  border-radius: 2.5vw;
  

}
.startwritebutton{
  flex: 0 0 9vw;
  font-size: 1.6vw;
  font-weight: 400;
  padding-top: 1.2vw;
  padding: 0.5vw 0 0.5vw 0;
  margin: 1vw 2vw 1vw 2vw;
  color: white;
  background-color: #FF4040;
  border-radius: 2.5vw;
}
.typebutton,.signinbutton,.registbutton,.startwritebutton:hover{
  cursor: pointer;
}
.blankbox02{
  flex-grow: 1;
  flex-basis: 38vw;
  flex-shrink: 1;
}


.footer{/*页脚，放置其他信息*/
  flex:1 1 100% ;
  height: 5vw;
}

.main{/*最中心轮播图与文章区域*/
  /*作子元素时的样式*/
  flex:0 0 100vw;
  height: 100vw;
  /*作父元素时的样式*/
  display: flex;
  flex-flow:column nowrap;
  justify-content: flex-start;
  align-items:stretch;
  order: 2
}
.slideshow{
  border-bottom: 0.05vw solid #EEEEE0;
  position: relative;
  margin: 3.5vw 5vw 3.5vw 5vw;
  width: 90vw;
  /*margin:0 auto 0 auto;*/
  overflow: hidden;
  /*作子元素时的样式*/
  flex:0 0 39vw;
  z-index: 0;
}
.wrap {
  /*margin: 25px 0 25px 0;*/
  margin: 0;
  /*background-color: black;*/
  position: absolute;
  width: 270vw;
  height: 39vw;
  z-index: 1;
  left:-90vw;
}
/*轮播图长90vw，高39vw*/
.slideshow .wrap img {
  float: left;
  width: 90vw;
  height: 39vw;
}
.slideshow .buttons {
  position: absolute;
  right: 40vw;
  bottom:5vw;
  width: 10vw;
  height: 1vw;
  z-index: 2;
}
.slideshow .buttons span {
  margin-left: 0.5vw;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #CDCDC1;
  text-align: center;
  color:white;
  cursor: pointer;
}
.slideshow .buttons span.on{
  background-color: white;
}
.slideshow .arrow {
  position: absolute;
  width: 3.5vw;
  height: 5vw;
  top: 42%;
  color: white;
  padding-top:1.5vw;
  background-color: rgba(131,139,139,0.5);
  border-radius: 0.5vw 0px 0px 0.5vw;
  font-size: 3.5vw;
  z-index: 2;
  display: none;
}
.slideshow .arrow_left {
  left: 0px;
}
.slideshow .arrow_right {
  right: 0px;
}
.slideshow:hover .arrow  {
  display: block;
}
.slideshow .arrow:hover{
  cursor: pointer;
}


.articlelabel{
  flex:0 0 45vw;
  margin: 0px 2.5vw 0px 2.5vw;
  border-top: 0.1vw solid #EEEEE0;
}
.articleword{
  width: 60vw;
  height: 30vw;
  float: left;
  margin: 0px;
}
.articlelabel h2{
  width: 60vw;
  font-size: 1.2rem;
  margin:2.5vw 0px 0px 0px;
  text-align: start;
}
.articlelabel p{
  width: 60vw;
  font-size: 0.8rem;
  color: #CDC5BF;
  font-weight: 300;
  text-align: start;
  margin: 1.4vw 0px 1.4vw 0px;
}
.articlelabel h5{
  font-size:0.8rem;
  color: #CDC5BF;
  font-weight: 300;
  text-align: start;
  margin: 1.4vw 0px 1.4vw 0px;
}
.articlelabel h6{
  color:#CDC5BF;
  font-size: 0.5vw;
  text-align: start;
  float: left;
  margin: 0px ;
}
.articlelabel img{
  width: 30vw;
  border-radius: 0.3vw;
  float: left;
  margin: 8vw 0 0 2vw;
}


.aside1{
  flex:1 1 0.1vw;
  order: 1;
  display: none;
}
.aside2{/*链接广告区*/
  /*作子元素时的样式*/
  flex:0 0 30vw;
  /*作父元素的样式*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  order: 3;
  display: none;
}
.aside3{
  flex:1 1  0;
  order: 4;
  display: none;
}
.pagelink{
  flex:0 0 36vw;
  margin-top: 3vw;
}

.pagelink img{
  width: 30vw;
  height: auto;
  margin:0.3vw 0 0.3vw 0;
}
.pagelink img:hover{
  cursor: pointer;
}
.qrlink{
  flex: 0 0 7.5vw;
  width: 30vw; 
  margin: 1vw 0 1vw 0;
  border: 0.05vw solid #EEEEE0;
}
.qrlink img{
  height: 6vw;
  width: auto;
  margin: 0.75vw 0px 0.75vw 1.5vw;
  float: left;
}
.qrlink h3{
  font-size: 1.5vw;
  font-weight: 400;
  float: left;
  margin: 1.5vw 0px 0px 0.5vw ;
}
.qrlink p{
  font-size: 1.2vw;
  font-weight: 200;
  float: left;
  margin:0.5vw 0px 0px 0.5vw;
  color:#C1CDC1;
}
.qrimg{
  display: none;
}
.adlink{
  flex: 0 0 17vw;

}
.adlink img{
  margin-top:2vw;
  height: 17vw;
  width: 30vw;
  border-radius: 0.5vw;
}
.writerlink{
  flex: 0 0 45vw;
}
.writertitle{
  font-size: 1.5vw;
  font-weight: 500;
  color: #C1CDC1;
  float: left;
  margin: 2vw 13vw 1.5vw 2.5vw;
}
.changetitle{
  font-size: 1.5vw;
  font-weight: 500;
  color: #C1CDC1;
  float: right;
  margin: 2vw 2.5vw 1.5vw 0;
}
.changetitle:hover{
  cursor: pointer;
}
.writerlink img{
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  float: left;
  margin: 0.5vw 0px 1vw 1.5vw; 
}

.writerlink h4{
  font-size: 1.4vw;
  font-weight: 400;
  float: left;
  margin: 1vw 8vw 0px 0.5vw;
}
.writerlink h3{
  font-size: 1.4vw;
  font-weight: 400;
  float: right;
  margin: 1vw 2.5vw 0 0;
}
.writerlink h3:hover{
  cursor: pointer;
}
.writerlink p{
  font-size: 1.2vw;
  font-weight: 200;
  float: left;
  margin: 0.5vw 5.5vw 2vw 0px;
}
.checkallbutton{
  float: left;
  width: 29.95vw;
  height: 3vw;
  margin: 0 0 0 0;
  font-size: 1.4vw;
  font-weight: 400;
  padding: 0.3vw 0 0.3vw 0;
  background-color:#FFFFF0;
  border: 0.05vw solid #EEEEE0;
  color: #C1CDC1;
}
.checkallbutton:hover{
  cursor: pointer;
}

.footer{
  order:5;
}


