body{
    margin: 0px;
}


.totalbox{
    display:flex;
    flex-flow:row wrap;
    font-weight:bold;
    text-align:center;
}
/*.totalbox > *{
    padding:10px;
    flex:1 100%;
}*/

.header{
    background:#ffffff;
    border-bottom: 0.5px solid #8B8989;
    /*作子元素时的样式*/
    flex:1 1 100% ;
    height: 55px;
    /*作父元素时的样式*/
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:stretch；
}

.headtitle01{
    color: #FF4040;
    order: 1;
    flex-grow: 3;
    padding-top: 8px;
    font-size: 30px;
}
.headtitle02{
    /*作子元素的样式*/
    order: 2;
    flex-grow: 4;
    /*作父元素的样式*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items:stretch；

}
.indexbutton{
    /*作子元素的样式*/
    flex-grow: 1;
    color: #FF4040;
    font-size: 20px;
    font-weight: 400;
    padding-top: 12px;

}
.downloadbutton{
    /*作子元素的样式*/
    flex-grow: 1;
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding-top: 12px;
}
.searchbutton{
    /*作子元素的样式*/
    flex-grow: 4;

}
.headtitle03{
    /*作子元素的样式*/
    order: 3;
    flex-grow: 5;
    /*作父元素的样式*/
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.blankbox01{
    flex-grow: 0;
    flex-basis: 260px;
    flex-shrink: 0;
    background-color: white;
}
    

.typebutton{
    font-size:20px;
    font-weight: 400;
    color: gray;
    padding-top: 12px;
    flex-grow: 0;
    flex-basis: 80px;
    flex-shrink: 0;

}
.signinbutton{
    flex-grow: 0;
    font-size: 20px;
    font-weight: 400;
    padding-top: 12px;
    flex-basis: 80px;
    flex-shrink: 0;
    color: gray;

}
.registbutton{
    flex-grow: 0;
    font-size: 20px;
    font-weight: 400;
    padding-top:12px;
    color: #FF4040;
    flex-basis: 80px;
    flex-shrink: 0;
    

}
.startwritebutton{
    flex-grow: 0;
    font-size: 20px;
    font-weight: 400;
    padding-top: 12px;
    color: gray;
    flex-basis: 120px;
    flex-shrink: 0;
}
.blankbox02{
    flex-grow: 1;
    flex-basis: 380px;
    flex-shrink: 1;
}


.footer{
    background:lightgreen;
    flex:1 1 100% ;
    height: 50px;
}

.main{
    /*作子元素时的样式*/
    flex:1 1 100% ;
    height: 2000px;
    /*作父元素时的样式*/
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items:stretch;
}
.slideshow{
    border-bottom: 0.5px solid gray;
    position: relative;
    margin: 35px 25px 35px 25px;
    width: 600px;
    /*margin:0 auto 0 auto;*/
    overflow: hidden;
    /*作子元素时的样式*/
    flex:0 0 260px;
    z-index: 0;
}
.wrap {
    /*margin: 25px 0 25px 0;*/
    margin: 0;
    /*background-color: black;*/
    position: absolute;
    width: 30000px;
    height: 260px;
    z-index: 1;
}
/*轮播图长600，高260px*/
.slideshow .wrap img {
    float: left;
    width: 600px;
    height: 260px;
}
.slideshow .buttons {
    position: absolute;
    right: 150px;
    bottom:20px;
    width: 100px;
    height: 10px;
    z-index: 2;
}
.slideshow .buttons span {
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    text-align: center;
    color:white;
    cursor: pointer;
}
.slideshow .buttons span.on{
    background-color: red;
}
.slideshow .arrow {
    position: absolute;
    top: 40%;
    color: white;
    padding:0px;
    background-color: rgba(131,139,139,0.5);
    border-radius: 5px 0px 0px 5px;
    font-size: 35px;
    z-index: 2;
    display: none;
}
.slideshow .arrow_left {
    left: 0px;
}
.slideshow .arrow_right {
    right: 0px;
}
.slideshow:hover .arrow {
    display: block;
}
.slideshow .arrow:hover{
    cursor: pointer;
}


.articlelabel{
    flex:0 0 150px;
    margin: 0px 25px 0px 25px;
    border-top: 1px solid gray;
}
.articleword{
    width: 430px;
    height: 151px;
    float: left;
    margin: 0px;
}
.articlelabel h2{
    width: 430px;
    font-size: 18px;
    margin:25px 0px 0px 0px;
    text-align: start;
}
.articlelabel p{
    width: 430px;
    font-size: 14px;
    color: #CDC5BF;
    font-weight: 300;
    text-align: start;
    margin: 14px 0px 14px 0px;
}
.articlelabel h5{
    font-size: 14px;
    color: #CDC5BF;
    font-weight: 300;
    text-align: start;
    margin: 14px 0px 14px 0px;
}
.articlelabel img{
    width: 150px;
    border-radius: 3px;
    float: left;
    margin: 40px 0 0 20px;
}


.aside1{
    flex:1 1 100%;
}
.aside2{
    /*作子元素时的样式*/
    flex:1 1 100%;
    /*作父元素的样式*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.pagelink{
    flex:0 0 360px;
    margin-top: 30px;
}

.pagelink img{
    width: 300px;
    height: auto;
    margin:3px 0px 3px 0;
}
.pagelink img:hover{
    cursor: pointer;
}
.qrlink{
    flex: 0 0 75px;
    width: 300px; 
    margin: 10px auto 10px auto;
    border: 0.5px solid gray;
}
.qrlink img{
    height: 60px;
    width: auto;
    margin: 7.5px 0px 7.5px 15px;
    float: left;
}
.qrlink h3{
    font-size: 15px;
    font-weight: 400;
    float: left;
    margin: 15px 0px 0px 5px ;
}
.qrlink p{
    font-size: 12px;
    font-weight: 200;
    float: left;
    margin:5px 0px 0px 5px;
    color:#C1CDC1;
}
.adlink{
    flex: 0 0 170px;

}
.adlink img{
    margin-top:20px;
    height: 170px;
    width: 300px;
    border-radius: 5px
}
.writerlink{
    flex: 0 0 450px;
}
.writertitle{
    font-size: 15px;
    font-weight: 500;
    color: #C1CDC1;
    float: left;
    margin: 20px 190px 15px 25px;
}
.changetitle{
    font-size: 15px;
    font-weight: 500;
    color: #C1CDC1;
    float: right;
    margin: 20px 25px 15px 0;
}
.changetitle:hover{
    cursor: pointer;
}
.writerlink img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    margin: 5px 0px 10px 15px; 
}

.writerlink h4{
    font-size: 14px;
    font-weight: 400;
    float: left;
    margin: 10px 100px 0px 5px;
}
.writerlink h3{
    font-size: 14px;
    font-weight: 400;
    float: right;
    color: #76EE00;
    margin: 10px 25px 0 0;
}
.writerlink h3:hover{
    cursor: pointer;
}
.writerlink p{
    font-size: 12px;
    font-weight: 200;
    float: left;
    margin: 5px 100px 20px 0px;
}
.checkallbutton{
    float: left;
    width: 300px;
    height: 30px;
    margin: 0 0 0 23px;
    font-size: 14px;
    font-weight: 400;
    padding: 3px auto 3px auto;
    background-color:#EEEEE0;
    border: 0.5px solid #EEEEE0;
    color: gray;
}
.checkallbutton:hover{
    cursor: pointer;
}

.aside3{
    flex:1 1 100%;
}
/*@media all and (min-width:600px){
    .aside1{
        flex:1 1 auto;
    }
    .aside2{
        flex:1 1 auto;
    }
}*/
/*@media all and (min-width:600px){
    .aside1{
        flex:1 1 0;
    }
    .main{
        flex:0 1 420px;
    }
    .aside2{
        flex:0 1 180px;
    }
    .aside3{
        flex:1 1 0;
    }
}*/

@media all and (min-width:1000px){
    .aside1{
        flex:1 1 1px ;
        order:1;
    }
    .main{
        flex:0 1 650px ;
        order:2;
    }
    .aside2{
        flex:0 1 350px ;
        order:3;
    }
    .aside3{
        flex:1 1 0px;
        order: 4;
    }
    .footer{
        order:5;
    }
}

