*{
  margin:0;
  padding:0;
}
#main{
  position: relative;
  margin: 0px 10% 0 10%;
  flex: 0 0 80%;
}
.totalbox{
  display:flex;
  flex-flow:row wrap;
  font-weight:bold;
  text-align:center;
}
.box{
  padding:15px 0 0 15px;
  float:left;
}
.pic{
  padding:10px;
  border:1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}
.pic img{
  width:180px;
  height:auto;
}
.header{
  background:#ffffff;
  border-bottom: 0.5px solid #EEEEE0;
  /*作子元素时的样式*/
  flex:1 1 100% ;
  height: 55px;
  /*作父元素时的样式*/
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items:stretch；
}

.headtitle01{
  color: #FF4040;
  order: 1;
  flex:1 1 270px;
  padding-top: 8px;
  font-size: 30px;
}
.headtitle02{
  /*作子元素的样式*/
  order: 2;
  flex:0 0 600px;
  /*作父元素的样式*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items:stretch；

}
.indexbutton{
  /*作子元素的样式*/
  flex:0 0 85px;
  color: #FF4040;
  font-size: 18px;
  font-weight: 350;
  padding-top: 12px;

}
.downloadbutton{
  /*作子元素的样式*/
  flex:0 0 145px;
  color: black;
  font-size: 18px;
  font-weight: 350;
  padding-top: 12px;
}
.searchbutton{
  /*作子元素的样式*/
  flex:1 1 370px;
  text-align: start;

}
.leftsemi{
  height: 40px;
  width: 20px;
  margin: 8px 0 0px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius:0;
  border-bottom-left-radius: 20px;
  background-color: #EEEEE0; 
  float: left;
}
.inputcontrol{
  margin: 8px 0 0px 0px;
  width: 260px;
  height: 40px;
  background-color: #EEEEE0;
  border: 0px;
  outline: none;
  font-size: 15px;
  padding-left: 0px;
  color: #8B8386;
  float: left;
}
.rightsemi{
  box-sizing:border-box;
  height: 40px;
  width: 20px;
  margin: 8px 0 0px 0px;
  padding: 8px 0px 0px 0px;;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius:20px;
  border-bottom-left-radius: 0px;
  background-color: #EEEEE0; 
  float: left;
  font-size: 18px;
  color: #8B8386;
}
.rightsemi i:hover{
cursor: pointer;
}
.headtitle03{
  /*作子元素的样式*/
  order: 3;
  flex:1 1 600px;
  /*作父元素的样式*/
  display: flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.blankbox01{
  flex-grow: 0;
  flex-basis: 260px;
  flex-shrink: 0;
  background-color: white;
}
  

.typebutton{
  font-size:20px;
  font-weight: 400;
  color: gray;
  padding-top: 12px;
  flex-grow: 0;
  flex-basis: 80px;
  flex-shrink: 0;
}
.signinbutton{
  flex-grow: 0;
  font-size: 16px;
  font-weight: 400;
  padding:5px 0 5px 0;
  margin: 10px 0 10px 0;
  flex-basis: 70px;
  flex-shrink: 0;
  color: gray;

}
.registbutton{
  flex-grow: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0 5px 0;
  margin: 10px 0 10px 0;
  color: #FF4040;
  flex-basis: 70px;
  flex-shrink: 0;
  border: 0.5px solid #FF4040;
  border-radius: 25px;
  

}
.startwritebutton{
  flex-grow: 0;
  font-size: 16px;
  font-weight: 400;
  padding-top: 12px;
  padding: 5px 0 5px 0;
  margin: 10px 20px 10px 20px;
  color: white;
  flex-basis: 90px;
  flex-shrink: 0;
  background-color: #FF4040;
  border-radius: 25px;
}
.typebutton,.signinbutton,.registbutton,.startwritebutton:hover{
  cursor: pointer;
}
.blankbox02{
  flex-grow: 1;
  flex-basis: 380px;
  flex-shrink: 1;
}

